.navBar {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(199, 135, 15);
  font-size: 1.3rem;
}

.title {
  padding: 2px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

nav {
  width: 70vw;
}

.categories {
  height: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.carrito {
  margin-right: 20px;
  position: relative;
}

.iconoCantidadProductos { /* Esta clase se mueve relativa a la etiqueta con clase "carrito" */
  padding: 0px 6px;
  position: absolute;
  top: -20%;
  left: 100%;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}