img {
  width: 100%;
  height: 100%;
}

.navBar {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 30, 50);
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  text-align: center;
}

.title {
  padding: 2px;
  width: 20vw;
}

.title a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav {
  width: 60vw;
}

.categories {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.categories li a {
  padding: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
}

.categories li a:hover {
  background-color: rgb(60, 60, 100);
}

.seleccionado {
  background-color: rgb(120, 120, 200);
}

.iconoCarrito {
  width: 15vw;
  position: relative;
}

.iconoCarrito a {
  padding: 5px;
  color: rgb(255, 255, 255);
}

.iconoCarrito a:hover {
  background-color: rgb(60, 60, 100);
}

#navCarrito {
  border-radius: 5px;
}

.iconoCarrito p {
  padding: 0px 6px;
  position: absolute;
  top: -20%;
  left: 55%;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(30, 30, 50);
}

main {
  padding: 10px;
}

.loader {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.errorCargaDatos {
  padding: 1%;
  width: 100%;
  font-size: 1.8rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.divIntro {
  margin-bottom: 10px;
  font-size: 1.3rem;
  text-align: justify;
}

.itemList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 1px;
}

.divItem {
  padding-bottom: 10px;
  width: 210px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 3px solid rgb(30, 30, 50);
  border-radius: 10px;
  font-size: 1.2rem;
  position: relative;
}

.divImagenItem {
  height: 210px;
}

.divImagenItem img {
  border-top-left-radius : 3px;
  border-top-right-radius : 3px;
}

.divTitlePriceItem {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pTitleItem {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.8rem;
}

.divInfoItem {
  padding: 0px 3px;
  position: absolute;
  right: 5%;
  top: 1.5%;
  border: 2px solid rgb(120, 120, 200);
  border-radius: 4px;
  background-color: rgb(0, 0, 0, 0);
  cursor: pointer;
}

.divInfoItem:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

.divInfoItem button {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border: 0px;
  background-color: rgb(0, 0, 0, 0);
  cursor: pointer;
}

.itemCount {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divBotonesContador {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.divBotonesContador button {
  width: 35%;
  font-size: 1.2rem;
  border: 2px solid rgb(30, 30, 50);
  border-radius: 5px;
  transition: transform 0.1s;
}

.divBotonesContador p {
  margin: 0 20px;
  width: 30%;
}

.itemCount button {
  width: 100%;
  padding: 1px 10px;
  font-size: 1.2rem;
  border: 2px solid rgb(30, 30, 50);
  border-radius: 5px;
  transition: transform 0.1s;
}

.divBotonesContador button:active, .itemCount button:active {
  transform: scale(0.9);
}

.divBotonesContador button:hover, .itemCount button:hover {
  background-color: rgb(200, 200, 200);
}

.divDetail {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "divImagen divDescripcion      divDescripcion"
  "divImagen divDetallesContador divDetallesContador";
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  border: 3px solid rgb(30, 30, 50);
  border-radius: 7px;
}

.divIzquierdaDetail {
  grid-area: divImagen;
}

.divIzquierdaDetail img {
  border: 3px solid rgb(30, 30, 50);
  border-radius: 7px;
  box-shadow: 0px 0px 10px;
  position: relative;
  top: 2px;
}

.divDerechaDetail {
  padding: 0px 5px;
  grid-area: divDescripcion;
  display: flex;
  flex-direction: column;
}

.pTitleDetail {
  font-size: 2.5rem;
  font-weight: bold;
}

.pDescriptionDetail {
  font-size: 1.5rem;
}

.divContenedorDetail {
  grid-area: divDetallesContador;
  display: flex;
  justify-content: space-around;
}

.divDetalles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.divDetalles p span {
  text-decoration: underline;
  text-decoration-style: solid;
}

.divContadorPrecio {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(30, 30, 50);
  border-radius: 5px;
}

.linkBotonIrCarrito {
  margin: 16px 0px;
}

.botonIrCarrito {
  padding: 0px 5px;
  width: 190px;
  height: 29px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.botonIrCarrito:hover {
  background-color: rgb(200, 200, 200);
}

.contenedor-carrito h1 {
  text-align: center;
  font-size: 2.5rem;
}

.carritoVacio {
  margin-top: 10px;
  font-size: 1.4rem;
  text-align: center;
}

.carritoVacio a {
  text-decoration: none;
}

.contenedor-carrito {
  padding: 5px;
}

.carrito {
  margin: 10px 0 15px 0;
  display: flex;
  justify-content: space-evenly;
  column-gap: 1px;
  row-gap: 5px;
  flex-wrap: wrap;
}

.divItemCarrito {
  width: 350px;
  height: 250px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border: 3px solid rgb(30, 30, 50);
  border-radius: 7px;
  font-size: 1.4rem;
}

.divImagenTituloItemCarrito {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
  border-right: 3px dashed rgb(30, 30, 50);
}

.divImagenItemCarrito {
  width: 150px;
}

.divImagenItemCarrito img {
  border-radius: 7px;
}

.divImagenTituloItemCarrito p {
  font-weight: bold;
  font-size: 1.6rem;
}

.divPriceItemCarrito {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
}

.pPriceItemCarrito {
  font-size: 1rem;
}

.botonBorrar, .botonComprar {
  height: 30px;
  width: 130px;
  border: 2px solid rgb(30, 30, 50);
  border-radius: 7px;
  background-color: rgb(255, 50, 50);
  transition: transform 0.1s;
  font-weight: bold;
}

.botonBorrar:hover {
  background-color: rgb(255, 0, 0);
}

.botonBorrar:active, .botonComprar:active {
  transform: scale(0.9);
}

.botonComprar {
  background-color: rgb(100, 255, 100);
}

.botonComprar:hover {
  background-color: rgb(50, 255, 50);
}

.divFinalizarCompra {
  font-size: 1.3rem;
  margin: auto;
  padding: 5px;
  width: 300px;
  text-align: center;
  border: 3px solid rgb(30, 30, 50);
  border-radius: 5px;
}

.divFinalizarCompra p {
  margin-bottom: 5px;
}

#formDatos input {
  padding: 1px 3px;
  font-size: 1.1rem;
  margin: 5px 0px;
  border: 1px solid rgb(30, 30, 50);
  border-radius: 3px;
  background-color: rgb(230, 230, 230);
}

#formDatos div {
  display: flex;
  justify-content: space-around;
}

#formDatos div button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.error404 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}

#creditos {
  position: fixed;
  right: 2vw;
  bottom: 1vh;
  transition: transform 0.5s;
  color: rgb(255, 255, 255);
}

#creditos:hover {
  transform: scale(1.1);
}

#creditos a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media screen and (max-width: 470px) {
  .title {
    font-size: 0.9rem;
  }

  .categories li a {
    font-size: 1rem;
  }

  .divIntro {
    font-size: 1rem;
  }

  .carritoVacio p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 960px) {
  .divDetail {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "divImagen           divDescripcion"
    "divDetallesContador divDetallesContador";
    font-size: 1.1rem;
  }

  .divIzquierdaDetail img {
    width: 175px;
  }

  .divDerechaDetail {
    padding: 0px 1px;
    grid-area: divDescripcion;
  }

  .pTitleDetail {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .pDescriptionDetail {
    font-size: 1.1rem;
  }
}
